<ion-view view-title="查找位置">
  <ion-nav-title>
    <div class="bar item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="搜索地点" ng-model="form.place" ng-keypress="search()">
      </label>
      <a class="button button-clear" ng-click="goBack()">
        取消
      </a>
    </div>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items" ng-click="selected(item)">
        <h2>{{item.name}}</h2>
        <p>{{item.address}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
