<ion-view view-title="叫车服务">
  <ion-content scroll="false">
    <div class="list list-inset">
      <a class="item item-input" href="#/search" nav-direction="forward">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="您要去哪？" ng-model="travel.to">
        <input type="hidden" ng-model="travel.from">
      </a>
      <button class="button button-block button-assertive" type="submit">呼叫出租车</button>
    </div>
    <div id="map-container" style="height: 100%"></div>
  </ion-content>
</ion-view>
